<div class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-outline-info m-lg-2"> All </button>
    </li>
    <li>
      <button (click)="onGetSelectedProducts()" class="btn btn-outline-info m-lg-2"> Selected </button>
    </li>
    <li>
      <button (click)="onGetAvailableProducts()" class="btn btn-outline-info m-lg-2"> Available </button>
    </li>
    <li>
      <button (click)="onAddProduct()" class="btn btn-outline-info"> New </button>
    </li>
  </ul>

  <ul class="navbar navbar-nav m-lg-auto">
    <li>
      <form  #f="ngForm" (ngSubmit)="onSearch(f.value)" class="d-flex">
        <input ngModel name="keyword" type="text" class="form-control me-sm-2" placeholder="Search">
        <button class="btn btn-secondary">Search</button>
      </form>
    </li>
  </ul>

</div>
<div class="container">
<ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    Loading ....
  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.LOADED">

       <table class="table">
         <tr>
           <th> id </th>
           <th> name </th>
           <th> price </th>
           <th> quantity </th>
           <th> selected </th>
           <th> available </th>
         </tr>
         <tr *ngFor="let p of result.data">
           <td>{{p.id}}</td>
           <td>{{p.name}}</td>
           <td>{{p.price}}</td>
           <td>{{p.quantity}}</td>
           <td>{{p.selected}}</td>
           <td>{{p.available}}</td>
           <td>
             <button class="btn" (click)="onSelect(p)" [ngClass]="p.selected? 'btn-outline-success' : 'btn-outline-danger'">
               <span *ngIf="p.selected"> selected </span>
               <span *ngIf="!p.selected"> unselected </span>
             </button>
           </td>
           <td>
             <button class="btn btn-outline-danger" (click)="onDelete(p)">
               <span class="fa fa-trash-o"></span>
             </button>
           </td>
           <td>
             <button class="btn btn-outline-danger" (click)="onEdit(p)">
               <span class="fa fa-pencil-square-o"></span>
             </button>
           </td>
         </tr>
       </table>

  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert-danger">
      {{result.errorMessage}}
    </div>
  </ng-container>
</ng-container>
</div>
