<div class="container"*ngIf="productFormGroup" >
  <form [formGroup]="productFormGroup">
    <div>
      <label>id</label>
      <input type="text"  class="form-control" formControlName="id">
    </div>

    <div class="">
      <label>name</label>
      <input type="text" class="form-control" formControlName="name"
             [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}">
      <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls.name.errors.required">
          Name is required
        </div>
      </div>
    </div>
    <div>
      <label>price</label>
      <input type="text"  class="form-control" formControlName="price">
    </div>
    <div>
      <label>quantity</label>
      <input type="text"  class="form-control" formControlName="quantity">
    </div>
    <div>
      <label>selected</label>
      <input type="checkbox"  class="form-check" formControlName="selected">
    </div>
    <div>
      <label>available</label>
      <input type="checkbox"  class="form-check" formControlName="available">
    </div>

    <button class="btn btn-success" (click)="onUpdateProduct()"> Modifier </button>
  </form>
</div>
