        <tr *ngIf="product">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.selected}}</td>
          <td>{{product.available}}</td>
          <td>
            <button class="btn" (click)="onSelect(product)" [ngClass]="product.selected? 'btn-outline-success' : 'btn-outline-danger'">
              <span *ngIf="product.selected"> selected </span>
              <span *ngIf="!product.selected"> unselected </span>
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="onDelete(product)">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="onEdit(product)">
              <span class="fa fa-pencil-square-o"></span>
            </button>
          </td>
        </tr>
